/* ------------ Container ------------ */

.container-home{
    /* background-color: aqua; */
    width: 375px;
    /* height: 626px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home .content{
    /* background-color: crimson; */
    width: 326px;
    height: 626px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ------------ Topo ------------ */
.container-home .header{
    /* background-color: aqua; */
    width: 100%;
    height: 53px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
}

/* ------------ Quadro de movimentações ------------ */
.container-home .movement-record{
    width: 326px;
    height: 446px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;

    border-radius: 5px;
    background-color: #FFFFFF;
}

.movement-record .no-records{
    /* background-color: yellowgreen; */
    width: 180px;
    
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #868686;
}

.movement-record .records{
    /* background-color: springgreen; */
    width: 93%;
    height: 92%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.records .record-list-box{
    /* background-color: coral; */
    height: 95%;

    overflow: auto;
}

.records .record-list{
    /* background-color: orange; */

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.records .record-balance{
    /* background-color: cornflowerblue; */

    display: flex;
    justify-content: space-between;
    
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.records .record-balance .balance{
    font-weight: 700;
}

.records .record-balance .value{
    color: #03AC00;
}

.movement-record .records .record-date{
    color: #C6C6C6;
}

.movement-record .records .record-description{
    color: #000000;
}

.movement-record .records .record-value{
    color: #C70000;
}

/* ------------ Botões de Adição de entrada e saída ------------ */
.new-record{
    /* background-color: tomato; */
    width: 100%;
    height: 127px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

.new-record .new-entry, .new-record .new-withdrawal{
    width: 155px;
    height: 114px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #A328D6;
    border-radius: 5px;
}

.new-entry-box, .new-withdrawal-box{
    /* background-color: tomato; */
    height: 95px;
    width: 135px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-entry ion-icon, .new-withdrawal ion-icon{
    /* background-color: chocolate; */
    font-size: 25px;
}

/* ------------ Conteúdo da tela "Nova entrada" ------------ */
.content-entry .header-entry-screen,
.content-withdrawal .header-withdrawal-screen{
    /* background-color: aquamarine; */
    width: 100%;
    height: 53px;

    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
}

.content-entry .entry-screen-form,
.content-withdrawal .withdrawal-screen-form{
    height: 201px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-entry .entry-screen-form input,
.content-withdrawal .withdrawal-screen-form input{
    width: 326px;
    height: 58px;

    padding-left: 15px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    outline: none;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.content-entry .entry-screen-form input::placeholder,
.content-withdrawal .withdrawal-screen-form input::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.entry-screen-form button,
.withdrawal-screen-form button{
    width: 326px;
    height: 46px;

    background: #A328D6;
    border-radius: 5px;
    border: none;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}