/* ------------ Container ------------ */

.container-login{
    /* background-color: aqua; */
    width: 375px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login .content{
    /* background-color: crimson; */
    width: 350px;
    height: 316px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ------------ Topo ------------ */
.container-login .top-title{
    font-family: 'Saira Stencil One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;

    color: #FFFFFF;
}

/* ------------ Interação do usuário ------------ */

.user-interaction-login .data-input-login{
    /* background-color: orange; */
    height: 188px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-interaction-login .data-input-login input{
    width: 326px;
    height: 58px;

    padding-left: 15px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    outline: none;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.data-input-login input::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.data-input-login button{
    width: 326px;
    height: 46px;

    background: #A328D6;
    border-radius: 5px;
    border: none;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.data-input-login button:hover{
    background-color: rgb(189, 87, 233);
}

/* ------------ Área de Cadastro ------------ */
.create-account{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


}

.create-account a{
    color: #FFFFFF;
    text-decoration: none;
}